body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #1b4f72;

}
.Titulo{
    text-decoration: underline;
    text-decoration-style:dashed;
    text-decoration-color: white;
    background: black;
    animation-name: fondo;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    height: 50px;
    box-shadow: 0px 0px 10px#212f3c;
}

@keyframes fondo{
    0%{
        background: black;
        text-decoration-color: white;
        text-shadow: 0px 0px 10px white;
        background-color: #212f3c;
        box-shadow: 0px 0px 10px#212f3c;
    }
    50%{
        background: red;
        text-decoration-color: orange;
        text-shadow: 0px 0px 10px orange;
        background-color: #abb2b9;
        box-shadow: 0px 0px 20px#abb2b9;
    }
    100%{
        background: black;
        text-decoration-color: white;
        text-shadow: 0px 0px 10px white;
        background-color: #212f3c;
        box-shadow: 0px 0px 10px #212f3c;

    }
}
#Version27{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: linear-gradient(white, blue);
    height: 350px;
    width: 350px;
    box-shadow: 0px 0px 10px black;
    transform: translate(-180%,-64%);
}

#Version27:hover{
    animation-name: version27;
    animation-duration: 1s;
    }

#TEXTO27{
    text-align: center;
    text-shadow: 0px 0px 10px;
    background: linear-gradient(white,blue);
    height: 200px;
    width: 340px;
    transform: translateX(1.5%);
    border-radius: 10px;
}
@keyframes version27{
    0%{
        height: 350px;
        width: 350px;
    }
    50%{
        height: 360px;
        width: 350px;
    }
    100%{
        height: 350px;
        width: 350px;
    }
}

#Version26{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: linear-gradient(white,red);
    height: 350px;
    width: 400px;
    box-shadow: 0px 0px 10px black;
    transform: translate(-60%,-64%);
}
#Version26:hover{

    animation-name: version26;
    animation-duration: 1s;
    }
    
#TEXTO26{
    text-align: center;
    background: gray; border-radius: 10px; opacity: 60%; height: 250px; width: 370px;
    transform: translateX(4%);
}
@keyframes version26{
    0%{
        height: 350px;
        width: 400px;
    }
    50%{
        height: 360px;
        width: 400px;
    }
    100%{
        height: 350px;
        width: 400px;
    }
}
#Version24{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: linear-gradient(white,red);
    height: 350px;
    width: 400px;
    box-shadow: 0px 0px 10px black;
    transform: translate(50%,-64%);
}
#Version24:hover{

    animation-name: version26;
    animation-duration: 1s;
    }
    
#TEXTO24{
    text-align: center;
    background: gray; border-radius: 10px; opacity: 60%; height: 250px; width: 370px;
    transform: translateX(4%);
}
#Version23{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: linear-gradient(blue,gray);
    height: 350px;
    width: 400px;
    box-shadow: 0px 0px 10px black;
    transform: translate(-165%,50%);
}
#Version23:hover{

    animation-name: version26;
    animation-duration: 1s;
    }
    
#TEXTO23{
    text-align: center;
    background: gray; border-radius: 10px; opacity: 60%; height: 250px; width: 370px;
    transform: translateX(4%);
}
#Version21{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: linear-gradient(red,gray);
    height: 350px;
    width: 400px;
    box-shadow: 0px 0px 10px black;
    transform: translate(-60%,50%);
}
#Version21:hover{

    animation-name: version26;
    animation-duration: 1s;
    }
    
#TEXTO21{
    text-align: center;
    background: gray; border-radius: 10px; opacity: 60%; height: 250px; width: 370px;
    transform: translateX(4%);
}
#Version2{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: linear-gradient(red,gray);
    height: 650px;
    width: 400px;
    box-shadow: 0px 0px 10px black;
    transform: translate(50%,27%);
}
#Version2:hover{

    animation-name: version22;
    animation-duration: 1s;
    }
    
#TEXTO22{
    text-align: center;
    background: gray; border-radius: 10px; opacity: 60%; height: 570px; width: 370px;
    transform: translateX(4%);
}
@keyframes version22{
    0%{
        height: 650px;
        width: 400px;
    }
    50%{
        height: 660px;
        width: 400px;
    }
    100%{
        height: 650px;
        width: 400px;
    }
}