body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 109, 133);
    max-width: 500px;
    max-height: 500px;
}


.Titulo{
    box-shadow: 0px 0px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-350%);
    width: 350px;
    text-align: center;
    background: gray;
    border-radius: 10px;
    border-color: black;
    animation-name: change-color;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}   
@keyframes change-color{
    0%{
        color: black;
        background: lightblue;
        box-shadow: 0px 0px 10px lightblue;
    }
    50%{
        color: lightblue;
        background: blue;
        box-shadow: 0px 0px 10px blue;
    }    
    100%{
        
        color: black;
        background: lightblue;
        box-shadow: 0px 0px 10px lightblue;
    }
}
.Links{
    text-align: center;
    text-shadow: black;
    text-shadow: 10%;
    font-size: 16px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg,blue,lightblue);
    position: absolute;
    box-shadow: 0px 0px 10px blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    border-radius: 10px;
    width: 50%;
    height: 10%;
    text-shadow: 0px 0px 20px white;
}
.GD{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-160%,-20%);
    text-align: center;
    background: linear-gradient(45deg, orange, red);
    border-radius: 10px;
    text-decoration: white;
    text-decoration: underline, white;
    border-color: white;
    width: 400px;
    height: 320px;
    box-shadow: 0px 0px 10px;
}

.Minecraft{
    box-shadow: 0px 0px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-10%);
    text-align: center;
    background: linear-gradient(-45deg,yellow, orange);
    border-radius: 10px;
    text-decoration: white;
    text-decoration: underline, white;
    border-color: white;
    width: 400px;
    height: 460px;
}
.creador{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(60%,-20%);
    background: linear-gradient(65deg, red,blue, lightblue);
    border-radius: 10px;
    border-color: black;
    text-align: center;
    border-style: solid;
    width: 400px;
    height: 350px;
    box-shadow: 0px 0px 10px black;
}
