body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(280deg,#154360,#5dade2);
    height: 500vh;
    background-repeat:repeat;
}

.Titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-350%);
    width: 400px;
    text-align: center;
    background: gainsboro;
    border-radius: 10px;
    border-color: black;
}   
.Noticias{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    text-align: center;
    background: linear-gradient(150deg, #ec7063,#78281f);
    border-radius: 10px;
    border-top-style: groove;
    border-bottom-style: groove;
    border-color: black;
}
.Links{
    text-align: center;
    text-shadow: black;
    text-shadow: 10%;
    font-size: 16px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg,lightblue,white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    border-radius: 10px;
    width: 50%;
    height: 10%;
}
.Videos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,30%);
    text-align: center;
    background: linear-gradient(45deg,red, black);
    border-radius: 10px;
    text-decoration: white;
    text-decoration: underline, white;
    border-color: white;
    width: 900px;

}