body{
    background: linear-gradient(lightblue,white,blue);
    height: 98vh;

}
#Titulo{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;  
    background: linear-gradient(-45deg,blue,lightblue);
    box-shadow: 0px 0px 10px blue;
    height: 50px;
    border-radius: 50px;
}
#Descripcion{
    text-align: center;
    font-size: 20px;
    background: linear-gradient(lightblue,blue);
    border-radius: 10px;
    box-shadow: 0px 0px 10px blue;
}
.Volver{
    text-align: center;
    height: 50px;
    width: 170px;
    position: absolute;
    top: 50;
    left: 50;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(52, 192, 52);
    border-radius: 30px;
    border-color: black;
    box-shadow: 0px 0px 30px green;
    transform: translate(-500%-90%)
}
.Volver:hover{
    animation-name: ButtonHOVER;
    animation-duration:300ms;
    animation-timing-function: linear;
}

@keyframes  ButtonHOVER{
    0%{
        background: rgb(52, 192, 52);
        border-radius: 30px;
        box-shadow: 0px 0px 30px green;
        height: 50px;
        width: 170px;
    }
    50%{
        background: -moz-linear-gradient();
        background: red;
        border-radius: 30px;
        box-shadow: 0px 0px 30px red;
        height: 60px;
        width: 180px;
    }
    100%{
        background: rgb(52, 192, 52);
        border-radius: 30px;
        box-shadow: 0px 0px 30px green;
        height: 50px;
        width: 170px;
    }
}